{% extends 'base.html' %}
{% load static %}
{% block body %}
        <!-- header area start -->
        <header class="header-area header-sticky">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <nav class="main-nav">
                            <!-- logo start -->
                            <a href="index.html" class="logo">
                                <img src="{% static 'assets/images/logo.png' %}" alt>
                            </a>
                            <!-- logo end -->

                            <!-- menu start -->
                            <ul class="nav">
                                <li><a href="{% url 'web:index' %}">صفحه اصلی</a></li>
                                <li><a href="{% url 'web:explore' %}">جستجو</a></li>
                                <li><a href="{% url 'web:create' %}">ساخت توکن</a></li>
                                <li><a href="{% url 'account:login' %}">ورود/ثبت نام</a></li>
                            </ul>
                            <a class='menu-trigger'>
                                <span>Menu</span>
                            </a>
                            <!-- menu end -->
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <!-- header area end -->

        <div class="page-heading normal-space">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h6>مشخصات نویسنده</h6>
                        <h2>عنوان</h2>
                        <span>خانه > <a href="#">نویسنده</a></span>
                        <div class="button">
                            <div class="main-button">
                                <a href="explore.html">آیتم های ما را جستجو کنید</a>
                            </div>
                            <div class="border-button">
                                <a href="create.html">ساخت توکن</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="author-page">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="author">
                            <img src="{% static 'assets/images/single-author.jpg' %}" alt
                                style="border-radius: 50%; max-width: 170px;">
                            <h4>{{profile.Family}} {{profile.name}}<br> <a href="#">{{profile.username.get}}</a></h4>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="right-info">
                            <div class="row">
                                <div class="col-4">
                                    <div class="info-item">
                                        <i class="fa fa-hand"></i>
                                        <h6>{{profile.Followers}}<em>فالور</em></h6>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="info-item">
                                        <i class="fa fa-dollar"></i>
                                        <h6>{{profile.income}}<em>درآمد</em></h6>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5">
                                    <h5>{{profile.Followers}}فالور</h5>
                                </div>
                                <div class="col-7">
                                    <div class="main-button">
                                        <a href="#">{{profile.username.get}} را دنبال کنید</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="section-heading">
                            <div class="line-dec"></div>
                            <h2><em>آیتم های </em>{{profile.name}} {{profile.Family}}</h2>
                        </div>
                    </div>
                    {% for post in posts %}
                    <div class="col-lg-3 col-md-6">
                        <div class="item">
                            <div class="row">
                                <div class="col-lg-12">
                                    <span class="author">
                                        <img src="{% static 'assets/images/author.jpg' %}" alt
                                            style="max-width: 50px; border-radius: 50%;">
                                    </span>
                                    <img src="{{post.image.url}}" alt
                                        style="border-radius: 20px;">
                                    <h4>{{post.title}}</h4>
                                </div>
                                <div class="col-lg-12">
                                    <div class="line-dec"></div>
                                    <div class="row">
                                        <div class="col-6">
                                            <span>پیشنهاد فعلی : <br><strong>{{post.Bid_now}}</strong></span>
                                        </div>
                                        <div class="col-6">
                                            <span>به پایان می رسد: <br><strong>{{post.date}}</strong></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="main-button">
                                        <a href="{% url 'store:details' num=post.pk %}">مشاهده</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="create-nft">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="section-heading">
                            <div class="line-dec"></div>
                            <h2>NFT خودت رو بساز و داخل مارکت قرار بده</h2>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="main-button">
                            <a href="create.html">الان توکن خود رو بساز</a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="item first-item">
                            <div class="number">
                                <h6>1</h6>
                            </div>
                            <div class="icon">
                                <img src="{% static 'assets/images/icon-02.png' %}" alt>
                            </div>
                            <h4>کیف پول خود را ایجاد کنید</h4>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از
                                صنعت چاپ و با استفاده از طراحان گرافیک است
                                چاپگرها و متون بلکه روزنامه و مجله در ستون و
                                سطرآنچنان که لازم است</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="item second-item">
                            <div class="number">
                                <h6>2</h6>
                            </div>
                            <div class="icon">
                                <img src="{% static 'assets/images/icon-04.png' %}" alt>
                            </div>
                            <h4>NFT دیجیتال خود را اضافه کنید</h4>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از
                                صنعت چاپ و با استفاده از طراحان گرافیک است
                                چاپگرها و متون بلکه روزنامه و مجله در ستون و
                                سطرآنچنان که لازم است </p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="item">
                            <div class="icon">
                                <img src="{% static 'assets/images/icon-06.png' %}" alt>
                            </div>
                            <h4>NFT خود را بفروشید کسب سود کنید</h4>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از
                                صنعت چاپ و با استفاده از طراحان گرافیک است
                                چاپگرها و متون بلکه روزنامه و مجله در ستون و
                                سطرآنچنان که لازم است </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% endblock %}